<?xml version="1.0" encoding="UTF-8"?>
<Network xmlns="http://soap.sforce.com/2006/04/metadata">
    <allowInternalUserLogin>false</allowInternalUserLogin>
    <allowMembersToFlag>false</allowMembersToFlag>
    <branding>
        <loginFooterText>salesforce.com</loginFooterText>
        <primaryColor>#1797C0</primaryColor>
        <primaryComplementColor>#FFFFFF</primaryComplementColor>
        <quaternaryColor>#B1BAC1</quaternaryColor>
        <quaternaryComplementColor>#222222</quaternaryComplementColor>
        <secondaryColor>#51606E</secondaryColor>
        <tertiaryColor>#DDE4E9</tertiaryColor>
        <tertiaryComplementColor>#222222</tertiaryComplementColor>
        <zeronaryColor>#51606E</zeronaryColor>
        <zeronaryComplementColor>#FFFFFF</zeronaryComplementColor>
    </branding>
    <changePasswordTemplate>Temp_Folder/CommunityChangePasswordEmailTemplate</changePasswordTemplate>
    <emailSenderAddress>ravikantsaini91@gmail.com</emailSenderAddress>
    <emailSenderName>Jumbopart2</emailSenderName>
    <enableGuestChatter>false</enableGuestChatter>
    <enableInvitation>false</enableInvitation>
    <enableKnowledgeable>false</enableKnowledgeable>
    <enableNicknameDisplay>false</enableNicknameDisplay>
    <enablePrivateMessages>false</enablePrivateMessages>
    <enableReputation>false</enableReputation>
    <enableSiteAsContainer>true</enableSiteAsContainer>
    <enableTopicAssignmentRules>false</enableTopicAssignmentRules>
    <forgotPasswordTemplate>Temp_Folder/CommunityForgotPasswordEmailTemplate</forgotPasswordTemplate>
    <gatherCustomerSentimentData>false</gatherCustomerSentimentData>
    <navigationLinkSet>
        <navigationMenuItem>
            <label>Topics</label>
            <position>1</position>
            <publiclyAvailable>true</publiclyAvailable>
            <target>ShowMoreTopics</target>
            <type>NavigationalTopic</type>
        </navigationMenuItem>
        <navigationMenuItem>
            <label>Contact</label>
            <position>2</position>
            <publiclyAvailable>true</publiclyAvailable>
            <target>Contact</target>
            <type>SalesforceObject</type>
        </navigationMenuItem>
    </navigationLinkSet>
    <networkMemberGroups>
        <profile>admin</profile>
        <profile>jumbo customer community user</profile>
    </networkMemberGroups>
    <networkPageOverrides>
        <changePasswordPageOverrideSetting>Standard</changePasswordPageOverrideSetting>
        <forgotPasswordPageOverrideSetting>Standard</forgotPasswordPageOverrideSetting>
        <homePageOverrideSetting>VisualForce</homePageOverrideSetting>
        <loginPageOverrideSetting>Standard</loginPageOverrideSetting>
    </networkPageOverrides>
    <picassoSite>Jumbopart21</picassoSite>
    <selfRegProfile>jumbo customer community user</selfRegProfile>
    <selfRegistration>true</selfRegistration>
    <sendWelcomeEmail>true</sendWelcomeEmail>
    <site>Jumbopart2</site>
    <status>UnderConstruction</status>
    <tabs>
        <defaultTab>home</defaultTab>
        <standardTab>Chatter</standardTab>
    </tabs>
    <urlPathPrefix>Jumbopart2</urlPathPrefix>
    <welcomeTemplate>Temp_Folder/CommunityWelcomeEmailTemplate</welcomeTemplate>
</Network>
